Docs/workflow.json
{
  "name": "Nathan's workflow",
  "nodes": [
    {
      "parameters": {
        "url": "https://learn.app.n8n.cloud/webhook/custom-erp",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "unique_id",
              "value": " dc774f90db47247a24c4e210082b611c"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        -96
      ],
      "id": "464dfefe-5d09-4534-84d0-e965f8eeda9f",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7ZG6mjE7U7XOj3ig",
          "name": "Header Auth account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appS0yP0QAEwyiiEw",
          "mode": "list",
          "cachedResultName": "Beginner course",
          "cachedResultUrl": "https://airtable.com/appS0yP0QAEwyiiEw"
        },
        "table": {
          "__rl": true,
          "value": "tblOZmRmKDo0v3eh5",
          "mode": "list",
          "cachedResultName": "processingOrders",
          "cachedResultUrl": "https://airtable.com/appS0yP0QAEwyiiEw/tblOZmRmKDo0v3eh5"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "orderID",
              "displayName": "orderID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "employeeName",
              "displayName": "employeeName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        896,
        -192
      ],
      "id": "646c1ced-6851-4c39-b535-8be83c2a221c",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "hBbuLNZcm65CPY7q",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "883160f7-8f08-4729-aecd-477dda492f73",
              "leftValue": "={{ $json.orderStatus }}",
              "rightValue": "processing",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "f511368a-76cc-4864-8731-f676bec06451",
              "leftValue": "={{$json[\"employeeName\"]}}",
              "rightValue": "Mario",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        -96
      ],
      "id": "397cf5dd-42c7-47da-affa-9b088930754a",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a68b4d66-34e6-4abd-a4bc-556db211fcc6",
              "name": "orderID",
              "value": "={{ $json.orderID }}",
              "type": "number"
            },
            {
              "id": "999ca421-75fe-463b-9caf-c90a53a0b770",
              "name": "employeeName",
              "value": "={{ $json.employeeName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        -192
      ],
      "id": "3beb2772-ed41-4925-a55b-e3a33f0d5456",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "let items = $input.all();\nlet totalBooked = items.length;\nlet bookedSum = 0;\n\nfor (let i=0; i < items.length; i++) {\n  bookedSum = bookedSum + items[i].json.orderPrice;\n}\n\nreturn [{ json: {totalBooked, bookedSum} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ],
      "id": "e55e2bcc-7c6d-4bea-933c-67ea849adc0f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        -96
      ],
      "id": "48789771-72cd-4ee8-b1bc-dae2cea087d7",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=This week we've {{$json[\"totalBooked\"]}} booked orders with a total value of {{$json[\"bookedSum\"]}}. My Unique ID: dc774f90db47247a24c4e210082b611c",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        896,
        0
      ],
      "id": "07c3a931-2ab9-46e8-8f55-527824d1e9c1",
      "name": "Discord",
      "webhookId": "d6337610-cd44-4040-ab13-15f39ad538c1",
      "retryOnFail": false,
      "credentials": {
        "discordWebhookApi": {
          "id": "1bH1SbTF4W7soP3T",
          "name": "Discord Webhook account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5c3cb082-45c9-453a-b3d3-55c00dafae90",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b3780a8d3b7af9160453d830e70a7fbad4eb0c8dde62fff9f21486a89d33e483"
  },
  "id": "lpOdh6GRC5HBUaVf",
  "tags": []
}
